<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mytag="http://www.wms.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.wms.com/schema/user http://www.wms.com/schema/user.xsd">


    <mytag:user id="testBean" name="aaa" pass="bbb"/>
</beans>