<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

">

  <bean id="clientRmi" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">

      <property name="serviceUrl" value="rmi://127.0.0.1:9999/add"/>
      <property name="serviceInterface" value="cn.wb.spring.first.springRmi.HelloRMIService"/>
  </bean>
</beans>